name: release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: create ticket
        run: |
          chmod +x ./scripts/create_ticket.sh
          sh ./scripts/create_ticket.sh
        env:
          ORG_ID: ${{ secrets.ORG_ID }}
          APP_TOKEN: ${{ secrets.APP_TOKEN }}

      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: install dependencies
        run: npm i

      - name: run tests
        run: npm test -- --watchAll=false

      - name: build image
        run: |
          chmod +x ./scripts/build_image.sh
          sh ./scripts/build_image.sh
